.category-section {
  width: calc(100% - 70px);
  /* max-width: 1220px; */
  margin: 28px auto 34px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 34px;
  font-family: "Roboto", sans-serif;
}

.category-card {
  height: 155px;
  background: linear-gradient(180deg, #f4f9ff 0%, #f4f9ff 100%);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 59, 143, 0.12);
}

.category-image-circle {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffffff 0%, #eaf4ff 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.category-image-circle img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.category-card h4 {
  margin: 0;
  color: #111827;
  font-size: 15px;
  font-weight: 800;
}

/* Tablet */
@media (max-width: 992px) {
  .category-section {
    width: calc(100% - 32px);
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .category-section {
    width: calc(100% - 24px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .category-card {
    height: 145px;
  }

  .category-image-circle {
    width: 100px;
    height: 100px;
  }

  .category-image-circle img {
    width: 72px;
    height: 72px;
  }
}